* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #57575822;
  color: #000000;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button[data-start],
button[data-stop] {
  margin-right: 20px;
  height: 40px;
  width: 80px;
  color: black;
  font-weight: 500;
  border-radius: 12px;
  background-color: lavender;
  border: 2px solid #000000;
}
button:active {
  position: relative;
  top: 2px;
}

input#datetime-picker {
  background-color: pink;
  border-radius: 8px;
  height: 30px;
  width: 200px;
  border: 2px solid #000000;
  text-align: center;
  color: #000000;
  font-weight: 500;
}

.timer {
  display: flex;
  margin-top: 10px;
}
.field {
  display: flex;
  flex-direction: column;
  width: 60px;
  margin-right: 10px;
  margin-left: 10px;
}
button {
  display: inline-block;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: black;
  height: 30px;
  border-radius: 8px;
  background-color: lavender;
  border: 2px solid #000000;
}
.value {
  background-color: pink;
  border-radius: 8px;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
  color: black;
}
.label {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}
input[type='number'] {
  margin-left: 10px;
  padding: 10px;
  height: 30px;
  border: 2px solid #000000;
  background-color: pink;
  border-radius: 5px;
}
